@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

body {
    font-family: 'Inter', sans-serif;
    color: #bbb;
}
a, a:visited, a:link, .std-a, .std-a:visited, .std-a:link {
    color: #70a9e4;
    text-decoration: none;
    cursor: pointer;
}
a:hover, .std-a:hover {
    color: white;
    text-decoration: underline;
}

body {
    background-color: #16181f;
}
header {
    text-align: center;
    background-color: #70a9e4;
    margin-bottom: 5%;
}
.header-menu {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.header-menu li {
    padding: 20px;
}
.header-menu a {
    color: white;
}

main {
    text-align: center;
}
footer {
    text-align: right;
    margin-top: 20%;
}
#search-page {
    background-color: rgb(122, 250, 122);
    border-radius: 10px;
    color: #000;
}